body {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    color:  #1F2041;
    text-transform: uppercase;

    background-color: #ffffff;
    background-image: url(../img/image_first_page.png);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

/*.main-header {
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

}*/

.main-navigation {
    font-size: 14px;
    line-height: 17px;

    color: rgba(31, 32, 65, 0.5);
    background-color: #ffffff;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a {
    color: rgba(31, 32, 65, 0.5);
}
.user-navigation a {
    border-radius: 22px;
    padding: 10px 15px;
}
.login {
    color: #BC9CFF;
    background-color: #FFFFFF;
}
.registration {
    color: #FFFFFF;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
}
.visually-hidden {
    visibility: hidden;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}
.footer__navigation {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}
.nav_footer_list{
    list-style: none;
}
.nav_footer_list a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
}
.footer-2__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
}
.social-buttons{
    list-style: none;

}

.Twitter {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
}