@Dark100: #1F2041;
/*@Dark75: lighten(@Dark100, 25%);
@Dark50: lighten(@Dark100, 50%);
@Dark25: lighten(@Dark100, 75%);
@Dark5: lighten(@Dark100, 95%);*/
@Dark75: rgba(31, 32, 65, 0.75);
@Dark50: rgba(31, 32, 65, 0.5);
@Dark25: rgba(31, 32, 65, 0.25);
@Dark5:  rgba(31, 32, 65, 0.05);

@Purple: #BC9CFF;
@Green: #6FCF97;


.h1-Style {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: @Dark100;
}
.h2-Style {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;

}
.h3-Style {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

.text-Style {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.text-field {
    width: 267px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    color:@Dark25;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
   
    &:hover {

        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.5);
        box-sizing: border-box;
        border-radius: 4px;

        line-height: 24px;
        color:@Dark75;
    }
} 
label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

.button {
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
   

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.form {

width: 380px;
height: 374px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.form-title {
    width: 320px;
    height: 60px;

}
/*.arrival {
 
    width: 150px;
    height: 65px;

}*/
.date-dropdown{
    width: 150px;
    height: 44px;
    
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;

}